/*
/.*

!/.github
!/dist
!/docs
!/examples
!/lib
!/scripts
!/test
!.eslintrc.json
!.gitignore
!.npmignore
!babel.config.js
!CHANGELOG.md
!Gruntfile.js
!LICENSE
!NOTICE
!package.json
!package-lock.json
!README.md

